/Semana9B/nbproject/private/
/Semana9B/build/
/CRUD_Clientes/nbproject/private/
/JClaseRepo/nbproject/private/
/JClaseRepo/build/
/CRUD_Clientes/build/
/Semana11/AppA/JAppSemana11/nbproject/private/
/Semana11/AppA/JAppSemana11/build/
/Semana11/AppB/JApplicationB/nbproject/private/
/Semana11/AppB/JApplicationB/build/
/Semana12/AppA/JAppA/nbproject/private/
/Semana12/AppA/JAppA/build/
